<article id="comment{{ include.index }}" class="js-comment comment" itemprop="comment" itemscop itemtype="http://schema.org/Comment">
    <!-- Hide Avatars for now
     <div class="comment__avatar-wrapper">
        {% if include.avatar %}
        <img class="comment__avatar" src="{{ include.avatar }}" alt="{{ include.name }}" height="50" width="50">
        {% else %}
        <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=50" srcset="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=100 2x" alt="{{ include.name }}" height="50" width="50">
        {% endif %}
    </div>
    -->
    <div class="comment__content-wrapper">
        <div class="comment__text" itemprop="text">{{ include.message | markdownify }}</div>
        <div class="comment__meta" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <p>&mdash; <span itemprop="name">{{ include.name }}</span> on <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.date | date: "%B %d, %Y" }}</time></p>
        </div>
    </div>
</article>