<section class="post__comments">

    {% if site.staticman_url %}

        {% if site.data.comments[page.slug] %}
            <!-- Start static comments -->
            <section id="comments" class="js-comments">
                <h3 class="divided">Comments</h3>
                {% assign comments = site.data.comments[page.slug] | sort %}
                {% for comment in comments %}
                {% assign avatar = comment[1].avatar %}
                {% assign email = comment[1].email %}
                {% assign name = comment[1].name %}
                {% assign date = comment[1].date %}
                {% assign message = comment[1].message %}
                {% include comment.html index=forloop.index avatar=avatar email=email name=name url=url date=date message=message %}
                {% endfor %}
            </section>
            <!-- End static comments -->
        {% endif %}

        <section>
            <!-- Start new comment form -->
            <h3 class="divided">Leave a Comment</h3>
            <p class="instruct">Your email address will not be published. Required fields are marked <span class="required">*</span></p>
            <form id="comment-form" class="post__comments-form js-form form" method="post" action="{{ site.staticman_url }}">
                <textarea type="text" id="comment-form-message" name="fields[message]" placeholder="Your comment*" rows="6" tabindex="1" minlength="7" required></textarea>
                <input type="text" id="comment-form-name" name="fields[name]" placeholder="Your name*" tabindex="2" minlength="2" required>
                <input type="email" id="comment-form-email" name="fields[email]" placeholder="Your email address*" tabindex="3" required>
                <fieldset class="hidden">
                    <input type="hidden" name="options[slug]" value="{{ page.slug }}">
                    <input type="hidden" name="fields[hidden]" />
                </fieldset>
                <!-- <fieldset>
                    <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
                    <input type="hidden" name="options[reCaptcha][secret]" value="{{ site.reCaptcha.secret }}">
                    <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
                </fieldset> -->
                <!-- Start comment form alert messaging -->
                <div class="hidden js-notice">
                    <p class="js-notice-text"></p>
                </div>
                <!-- End comment form alert messaging -->
                <button type="submit" id="comment-form-submit" tabindex="5" class="btn btn--large">Submit Comment</button>
            </form>
            <!-- End new comment form -->
        </section>

    {% endif %}
    
</section>