.post__comments {
    margin-top: 4em;
    margin-bottom: 4em;
}

.comment__avatar-wrapper {

}

.comment__avatar {

}

.comment__content-wrapper {
    margin-bottom: 3em;
}

.comment__meta {

}

[itemprop="name"] {
    font-weight: bold;
}

.comment__text {

}

#comment-form input, textarea {
    background: transparent;
    border: 0;
    outline: 1px dashed $text-color;
    font: 1em $font-family;
    padding: .5em;
    color: $text-color;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &:focus {
        outline: 2px dashed $text-color;
    }
}

#comment-form-message {
    width: 100%;
    resize: none;
    margin-top: 0;
    margin-bottom: 0.2em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.g-recaptcha {
    margin-top: 1em;
}

#comment-form button {
    background-color: #555555;
    border: 0;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 1em $font-family;

    &:hover {
        background-color: $text-color;
    }
}